<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test-method Suite" parallel="methods" thread-count="2" >
<listeners>
<listener  class-name="calculatorTest.Listenerclass"></listener>
</listeners>
  <test  name="Test" group-by-instances="true">
  <groups>
         <run>
          <include name = "Arithmetic" /> 
             <include name = "Doublesum" /> 
               <include name = "Doubletg" /> 
         </run>
      </groups>
    <classes>
      <class name="calculatorTest.TestCalculator"/>
   
      
     
    
    </classes>
  </test> <!-- Test -->
</suite> 
